<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/common}">
<th:block layout:fragment="script">
<!--    <script defer type="text/javascript" th:src="@{}"></script>-->
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>

</th:block>
<div layout:fragment="content" class="content">
    <main class="layout bookadd-container">
        <h1 style="display:flex;justify-content: center;margin-top:50px; margin-bottom: 100px;">도서 등록 페이지</h1>
        <form class="bookadd-form" action="/book/bookAdd" method="post">
            <div class="mb-3">
                <label>도서코드 : </label>
                <input name="bookCode" class="form-control"/>
            </div>
            <div class="mb-3">
                <label>도서명 : </label>
                <input name="bookName" class="form-control"/>
            </div>
            <div class="mb-3">
                <label>출판사 : </label>
                <input name="publisher" class="form-control"/>
            </div>
            <div class="mb-3">
                <label>ISBN : </label>
                <input name="isbn" class="form-control"/>
            </div>
            <div>
                <button class="btn btn-success">도서 등록</button>
            </div>
        </form>
    </main>
</div>
