<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/common}">
<th:block layout:fragment="script">
    <!--    <script defer type="text/javascript" th:src="@{}"></script>-->
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
</th:block>

<div layout:fragment="content">
    <section class="table-section">
        <!--/* 리스트 */-->
        <table class="table booklist-table">

            <thead>
            <tr>
                <!--                <th><input type="checkbox"/></th>-->
                <th scope="col">BOOKCODE</th>
                <th scope="col">BOOKNAME</th>
                <th scope="col">PUBLISHER</th>
                <th scope="col">ISBN</th>

            </tr>
            </thead>
            <tbody>
            <!--            <tr th:if="${not #lists.isEmpty( posts )}" th:each="row, status : ${posts}">-->
            <!--                <th scope="row" th:text="${bookDto.bookCode}"></td>-->
            <!--                <td class="tl"><a th:href="@{/book/read?bookCode=${bookCode}}" th:text="${bookDto.bookName}"></a></td>-->
            <!--                <td th:text="${bookDto.publisher}"></td>-->
            <!--                <td th:text="${bookDto.isbn}"></td>-->
            <!--            </tr>-->

            <tr>
                <th scope="row">1</th>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>

            <tr>
                <th scope="row">5</th>
                <td>6</td>
                <td>7</td>
                <td>8</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>10</td>
                <td>11</td>
                <td>12</td>
            </tr>
            <tr>
                <th scope="row">17</th>
                <td>18</td>
                <td>19</td>
                <td>20</td>
            </tr>
            <tr>
                <th scope="row">13</th>
                <td>14</td>
                <td>15</td>
                <td>16</td>
            </tr>


            <!--            <tr th:unless="${not #lists.isEmpty( posts )}">-->
            <!--                <td colspan="5">-->
            <!--                    <div class="no_data_msg">검색된 결과가 없습니다.</div>-->
            <!--                </td>-->
            <!--            </tr>-->
            </tbody>
        </table>

    </section>

</div>

</html>