<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/common}">
<th:block layout:fragment="script">
<!--    <script defer type="text/javascript" th:src="@{}"></script>-->
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
</th:block>

<div layout:fragment="content">
    <div class="wrapper">
        <main class="layout">
            <h1>도서 단건 조회 페이지</h1>
            <form style="width:400px" action="/book/add" method="post">
                <div class="mb-3">
                    <label>도서코드 : </label>
                    <input name="bookCode" class="form-control" value="${bookDto.bookCode}" readonly/>
                </div>
                <div class="mb-3">
                    <label>도서명 : </label>
                    <input name="bookName" class="form-control" value="${bookDto.bookName}" readonly/>
                </div>
                <div class="mb-3">
                    <label>출판사 : </label>
                    <input name="publisher" class="form-control" value="${bookDto.publisher}" readonly/>
                </div>
                <div class="mb-3">
                    <label>ISBN : </label>
                    <input name="isbn" class="form-control" value="${bookDto.isbn}" readonly/>
                </div>
                <div>
                    <a href="/book/update?bookCode=${bookDto.bookCode}"
                       class="btn btn-success me-2">도서수정</a>
                    <a href="/book/delete?bookCode=${bookDto.bookCode}"
                       class="btn btn-success me-2">도서삭제</a>
                    <button class="btn btn-secondary m-2">이전으로</button>
                </div>
            </form>
        </main>
    </div>

</html>